.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-button-width: 52px;

    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
    display: flex;
    justify-content: center;
}

.inner {
    width: 100%;
    height: 100%;
    padding: 0 var(--default-layout-horizontal-spacer);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    min-width: 300px;
    display: flex;
    align-items: center;
}

// Actions
.actions {
    display: flex;
    align-items: center;
}

.user-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-left: 16px;
    object-fit: cover;
    cursor: pointer;
}

.action-btn,
.action-btn-mess {
    display: flex;
    align-items: center;
    padding: 4px 10px;
    cursor: pointer;
}

.action-btn-mess {
    margin-left: 16px;
}
